# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Ee]xport/

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# Rider
.idea/
*.sln.iml